/* global styles  */
:root {
    /* colors  */
    --white-color: #fff;
    --yellow-color: #F1B300;
    --brown-color: #673F1B;
    --green-color: #1BC329;
    --light-dark--color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    background: var(--yellow-color);
    font-size: 22px;
    color: var(--light-dark--color);
    line-height: normal;
}

.container {
    max-width: 1470px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* text styles  */
h1,
h2,
h3 {
    color: var(--brown-color);
    font-weight: 700;
}

h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text-medium {
    font-size: 32px;
}

.text-normal {
    font-size: 26px;
}

.text-small {
    font-size: 18px;
}

.text-white {
    color: #fff;
    font-weight: 700;
}

.text-green {
    color: var(--green-color);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

/* button styles  */
.green-btn {
    display: inline-block;
    width: 223px;
    height: 60px;
    border-radius: 7px;
    background: #1bc32999;
    padding: 7px 9px;
}

.green-btn>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--green-color);
    border-radius: 7px;
    color: var(--white-color);
    font-family: 'inter', sans-serif;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
}

/* bg colors  */
.bg-white {
    background: #fff;
}

/* hero  */
.hero {
    position: relative;
    z-index: 2;
    padding: 77px 0 52px;
}

.hero .container>div {
    display: grid;
    position: relative;
    padding: 52px 67px 49px;
    grid-template-columns: auto auto;
}

.hero-bg-gummy-bear-fit-bottle {
    position: absolute;
    width: 187px;
    height: 340px;
    left: -114px;
    top: -135px;
    transform: rotate(-17deg);
}

.hero-bg-filter {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
}

/* 1 */
.hero-first-data-wrapper {
    width: 100%;
    z-index: 2;
}

.hero-question-answer-parent {
    margin-bottom: 16px;
}

.hero-question-text,
.hero-answer-text {
    color: var(--white-color);
    font-size: 26px;
    font-weight: 700;
}

.hero-gummy-bear-fit-logo {
    width: 508px;
    height: 123px;
    margin-bottom: 24px;
}

.about-gummy-bear-fit {
    max-width: 536px;
    color: var(--light-dark--color);
    font-weight: 400;
    margin-bottom: 33px;
}

.hero-test-link-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 520px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 23px 0 16px;
    background: var(--brown-color);
    border-radius: 20px;
}

.hero-test-link-wrapper>img {
    position: absolute;
    top: -43px;
    left: 10px;
    width: 71px;
    height: 117px;
    transform: rotate(-8deg);
}

.hero-test-link-wrapper p {
    font-size: 18px;
    max-width: 304px;
    color: var(--white-color);
    margin-bottom: 14px;
}

/* 2 */
.hero-last-data-wrapper {
    display: flex;
    align-items: center;
    z-index: 2;
}

.bottle-parent {
    position: relative;
    margin-right: 52px;
}

.gummy-bear-fit-bottle {
    position: relative;
    width: 244px;
    height: 443px;
    z-index: 1;
}

.gummy-bear-fit-bottle-shadow {
    position: absolute;
    width: 239px;
    height: 283px;
    transform: rotate(1deg);
    bottom: 0;
    right: -12px;
    z-index: 0;
}

.hero-list-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.hero-list-child {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.hero-list-child::before {
    display: inline-block;
    content: '';
    width: 21px;
    height: 21px;
    background: url(../images/success-icon.svg);
    margin-right: 10px;
}

.hero-list-child:not(:last-child) {
    margin-bottom: 10px;
}

.hero-green-gummy-bears-group-img {
    position: absolute;
    width: 257px;
    height: 753px;
    transform: rotate(11deg);
    right: 263px;
    top: -87px;
}

/* about section  */

.about-section {
    z-index: 1;
    padding: 52px 0;
}

.about-section-bottle-parent {
    position: absolute;
    width: 206px;
    height: 375px;
    right: 96px;
    top: -217px;
}

.about-section-bottle-parent>div {
    position: relative;
}

.about-section-gummy-bear-fit-bottle {
    position: relative;
    transform: rotate(25deg);
    z-index: 1;
}

.about-section-gummy-bear-fit-bottle-shadow {
    position: absolute;
    width: 197px;
    height: 293px;
    transform: rotate(29deg);
    right: 0;
    bottom: 0;
    z-index: 0;
}

.about-section .container>div {
    position: relative;
    padding: 60px 69px 148px;
    border-radius: 20px;
    background: var(--white-color);
    z-index: 1;
}

.about-section-title {
    max-width: 686px;
    margin-bottom: 36px;
}

.about-section-information-wrapper {
    position: relative;
    display: flex;
    gap: 35px;
    z-index: 10;
}

.about-section-images-warpper {
    display: flex;
    margin-left: 26px;
    gap: 28px;
}

.about-section-images-warpper img {
    width: 354px;
    height: 354px;
    border-radius: 20px;
}

.about-section-descriptions-parent p {
    margin-bottom: 25px;
}

.about-section-descriptions-parent b {
    font-weight: 700;
}

/* bottom  */
.about-section-bottom {
    position: absolute;
    bottom: 45px;
    width: 100%;
    left: 0;
}

.about-section-bottom>div {
    position: relative;
    padding: 22px 73px 12px;
    z-index: 0;
}

.about-section-bottom-list {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
}

.about-section-bottom-list-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 89px;
}

.about-section-bottom-list-child:not(:last-child) {
    margin-right: 44px;
}

.about-section-bottom-list-child span {
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.88px;
}

.hero-section-bottom-bg-shape {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 0;
    top: 0;
}

.about-section {
    position: relative;
}

.about-section-brown-bg {
    position: absolute;
    width: 100%;
    top: 183px;
    z-index: -1;
}