/* global styles  */
:root {
    /* colors  */
    --white-color: #fff;
    --yellow-color: #F1B300;
    --brown-color: #673F1B;
    --green-color: #1BC329;
    --light-dark--color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    background: var(--yellow-color);
    font-size: 22px;
    color: var(--light-dark--color);
    line-height: normal;
}

.container {
    max-width: 1470px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* text styles  */
h1,
h2,
h3 {
    color: var(--brown-color);
    font-weight: 700;
}

h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text-medium {
    font-size: 32px;
}

.text-normal {
    font-size: 26px;
}

.text-small {
    font-size: 18px;
}

.text-white {
    color: #fff;
    font-weight: 700;
}

.text-green {
    color: var(--green-color);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

/* button styles  */
.green-btn {
    display: inline-block;
    width: 223px;
    height: 60px;
    border-radius: 7px;
    background: #1bc32999;
    padding: 7px 9px;
}

.green-btn>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--green-color);
    border-radius: 7px;
    color: var(--white-color);
    font-family: 'inter', sans-serif;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
}

/* bg colors  */
.bg-white {
    background: #fff;
}

/* hero  */
.hero {
    position: relative;
    z-index: 2;
    padding: 77px 0 52px;
}

.hero .container>div {
    display: grid;
    position: relative;
    padding: 52px 67px 49px;
    grid-template-columns: auto auto;
}

.hero-bg-gummy-bear-fit-bottle {
    position: absolute;
    width: 187px;
    height: 340px;
    left: -114px;
    top: -135px;
    transform: rotate(-17deg);
}

.hero-bg-filter {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
}

/* 1 */
.hero-first-data-wrapper {
    width: 100%;
    z-index: 2;
}

.hero-question-answer-parent {
    margin-bottom: 16px;
}

.hero-question-text,
.hero-answer-text {
    color: var(--white-color);
    font-size: 26px;
    font-weight: 700;
}

.hero-gummy-bear-fit-logo {
    width: 508px;
    height: 123px;
    margin-bottom: 24px;
}

.about-gummy-bear-fit {
    max-width: 536px;
    color: var(--light-dark--color);
    font-weight: 400;
    margin-bottom: 33px;
}

.hero-test-link-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 520px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 23px 0 16px;
    background: var(--brown-color);
    border-radius: 20px;
}

.hero-test-link-wrapper>img {
    position: absolute;
    top: -43px;
    left: 10px;
    width: 71px;
    height: 117px;
    transform: rotate(-8deg);
}

.hero-test-link-wrapper p {
    font-size: 18px;
    max-width: 304px;
    color: var(--white-color);
    margin-bottom: 14px;
}

/* 2 */
.hero-last-data-wrapper {
    display: flex;
    align-items: center;
    z-index: 2;
}

.bottle-parent {
    position: relative;
    margin-right: 52px;
}

.gummy-bear-fit-bottle {
    position: relative;
    width: 244px;
    height: 443px;
    z-index: 1;
}

.gummy-bear-fit-bottle-shadow {
    position: absolute;
    width: 239px;
    height: 283px;
    transform: rotate(1deg);
    bottom: 0;
    right: -12px;
    z-index: 0;
}

.hero-list-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.hero-list-child {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.hero-list-child::before {
    display: inline-block;
    content: '';
    width: 21px;
    height: 21px;
    background: url(../images/success-icon.svg);
    margin-right: 10px;
}

.hero-list-child:not(:last-child) {
    margin-bottom: 10px;
}

.hero-green-gummy-bears-group-img {
    position: absolute;
    width: 257px;
    height: 753px;
    transform: rotate(11deg);
    right: 263px;
    top: -87px;
}

/* about section  */

.about-section {
    z-index: 1;
    padding: 52px 0;
}

.about-section-bottle-parent {
    position: absolute;
    width: 206px;
    height: 375px;
    right: 96px;
    top: -217px;
}

.about-section-bottle-parent>div {
    position: relative;
}

.about-section-gummy-bear-fit-bottle {
    position: relative;
    transform: rotate(25deg);
    z-index: 1;
}

.about-section-gummy-bear-fit-bottle-shadow {
    position: absolute;
    width: 197px;
    height: 293px;
    transform: rotate(29deg);
    right: 0;
    bottom: 0;
    z-index: 0;
}

.about-section .container>div {
    position: relative;
    padding: 60px 69px 148px;
    border-radius: 20px;
    background: var(--white-color);
    z-index: 1;
}

.about-section-title {
    max-width: 686px;
    margin-bottom: 36px;
}

.about-section-information-wrapper {
    position: relative;
    display: flex;
    gap: 35px;
    z-index: 10;
}

.about-section-images-warpper {
    display: flex;
    margin-left: 26px;
    gap: 28px;
}

.about-section-images-warpper img {
    width: 354px;
    height: 354px;
    border-radius: 20px;
}

.about-section-descriptions-parent p {
    margin-bottom: 25px;
}

.about-section-descriptions-parent b {
    font-weight: 700;
}

/* bottom  */
.about-section-bottom {
    position: absolute;
    bottom: 45px;
    width: 100%;
    left: 0;
}

.about-section-bottom>div {
    position: relative;
    padding: 22px 73px 12px;
    z-index: 0;
}

.about-section-bottom-list {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
}

.about-section-bottom-list-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 89px;
}

.about-section-bottom-list-child:not(:last-child) {
    margin-right: 44px;
}

.about-section-bottom-list-child span {
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.88px;
}

.hero-section-bottom-bg-shape {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 0;
    top: 0;
}

.about-section {
    position: relative;
}

.about-section-brown-bg {
    position: absolute;
    width: 100%;
    top: 183px;
    z-index: -1;
}

/* about the secret of the gummy bear fit   */
.about-secret {
    position: relative;
    z-index: 1;
    padding: 52px 0 88px;
}

.title-about-secret {
    position: relative;
    max-width: 453px;
    margin-left: 56px;
    color: var(--white-color);
    margin-bottom: 30px;
    z-index: 0;
}

.title-about-secret::after {
    display: inline-block;
    position: absolute;
    content: 'Qual è il segreto di GummyBear Fit?';
    width: 839px;
    bottom: -66px;
    right: -407px;
    color: #FFF;
    font-size: 80px;
    line-height: 92%;
    letter-spacing: -1.6px;
    opacity: 0.1;
}

.lists-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 35px;
    z-index: 1;
}

.lists-wrapper-child {
    padding: 30px 71px;
    border-radius: 20px;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lists-wrapper-child:nth-child(1) {
    grid-area: 1 / 1 / 2 / 8;
    padding-right: 188px;
}

.lists-wrapper-child:nth-child(2) {
    grid-area: 2 / 1 / 3 / 8;
    padding-right: 150px;
}

.lists-wrapper-child:nth-child(3) {
    position: relative;
    grid-area: 1 / 8 / 3 / 13;
    padding: 30px 70px 100px 103px;
}

.lists-wrapper-child .text-green {
    margin-bottom: 10px;
}

.lists-wrapper-child-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-drug-list-child:not(:last-child) {
    margin-bottom: 15px;
}

.about-drug-list-child p {
    font-size: 18px;
}

/* bottle  */
.lists-wrapper-child:nth-child(3) .bottle-parent {
    position: absolute;
    top: 36px;
    left: -195px;
}

.bottle-parent>div {
    position: relative;
}

.lists-wrapper-child:nth-child(3) .gummy-bear-fit-bottle {
    width: 261px;
    height: 475px;
}

/* test link  */
.test-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 520px;
    bottom: -113px;
    padding: 23px 38px 28px 74px;
    background: var(--yellow-color);
    border-radius: 20px;

}

.test-link-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 14px;
}

/* manual section  */

.manual-section {
    position: relative;
    z-index: 1;
    padding: 88px 0 52px;
}

.manual-section .container {
    position: relative;
}

.manual-section-bg-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 20px;
    background: #ffffff40;
    backdrop-filter: blur(25px);
    z-index: 0;
}

.manual-section .main-details {
    position: relative;
    padding: 43px 47px 47px 550px;
}

.hand-img-parent {
    position: absolute;
    top: -84px;
    left: 0;
    z-index: 1;
}

.hand-img-parent>div {
    position: relative;
}

.hand-img-parent~div {
    position: relative;
    z-index: 1;
}

.gummy-bear-img {
    position: absolute;
    width: 83px;
    height: 119px;
    top: 159px;
    right: 158px;
    transform: rotate(23deg);
}

.gummy-bear-img-2 {
    width: 119px;
    height: 119px;
    position: absolute;
    top: 220px;
    right: 123px;
    transform: rotate(56deg);
}

.arrow-icon {
    position: absolute;
    width: 142px;
    height: 22px;
    transform: rotate(4deg);
    bottom: 144px;
    right: -51px;
}

.arrow-icon-2 {
    position: absolute;
    bottom: 5px;
    right: -46px;
}

.manual-section-title {
    max-width: 400px;
    color: var(--white-color);
    margin-bottom: 40px;
}

.manual-section-main-informations-wrapper {
    display: flex;
    align-items: center;
    z-index: 2;
}

.manual-section-list {
    margin-right: 80px;
}

.manual-section-list-child {
    border-radius: 20px;
    border: 1px solid #FFF;
    background: transparent;
    box-shadow: 0px 5px 10px 0px rgba(103, 62, 27, 0.25);
    padding: 19px 17px;
    text-align: center;
}

.manual-section-list-child:not(:last-child) {
    margin-bottom: 20px;
}

.manual-section-list-child h3 {
    font-size: 24px;
    margin-bottom: 1px;
}

.manual-section-list-child p {
    font-size: 24px;
}

.manual-section-main-informations-wrapper span {
    color: var(--white-color);
    max-width: 452px;
    font-size: 80px;
    font-weight: 700;
    line-height: 136%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.manual-section-gummy-bears-group-img {
    position: absolute;
    width: 220px;
    height: 586px;
    z-index: -1;
    top: -63px;
    right: 71px;
}

/* results  */
.results {
    position: relative;
    padding: 52px 0;
}

.results-title {
    max-width: 1243px;
    margin-bottom: 40px;
}

.results-images-wrapper {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1290px;
    margin-left: 17px;
}

.results-section-image {
    border-radius: 20px;
    height: 314px;
    object-fit: cover;
}

.results-section-image:nth-child(1) {
    width: 313px;
}

.results-section-image:nth-child(2) {

    width: 466px;
}

.results-section-image:nth-child(3) {
    width: 470px;
}

.results-section-image:nth-child(4) {
    width: 412px;
}

.results-section-image:nth-child(5) {
    width: 493px;
}

.results-section-image:nth-child(6) {
    width: 348px;
}

.result-section-brown-bg {
    position: absolute;
    width: 100%;
    top: 509px;
    z-index: -1;
}

/* comments  */

.comments-section {
    padding: 52px 0;
}

.comments-section-title {
    position: relative;
    color: var(--white-color);
    max-width: 986px;
    margin-bottom: 78px;
}

.comments-section-title::after {
    content: 'Il nostro prodotto funziona davvero! ';
    position: absolute;
    top: 20px;
    left: 21px;
    max-width: 1045px;
    font-size: 80px;
    line-height: 92%;
    letter-spacing: -1.6px;
    opacity: 0.1;
}

.comments-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.comment {
    display: flex;
    align-items: start;
    padding: 20px;
    background: var(--white-color);
    border-radius: 10px;
}

.comment:nth-child(6n + 1) {
    grid-column: 1/4;
}

.comment:nth-child(6n + 2) {
    grid-column: 4/10;
}

.comment:nth-child(6n + 3) {
    grid-column: 10/13;
}

.comment:nth-child(6n + 4) {
    grid-column: 1/5;
}

.comment:nth-child(6n + 5) {
    grid-column: 5/9;
}

.comment:nth-child(6n + 6) {
    grid-column: 9/13;
}

.comment:nth-child(even) {
    padding-right: 55px;
}

.comment:nth-child(odd) .user-profile-image {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    margin-right: 15px;
}

.comment:nth-child(even) .user-profile-image {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.comment:nth-child(odd) :is(.user-name, .user-review-text) {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.comment:nth-child(even) :is(.user-name, .user-review-text) {
    color: #385898;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 9px;
}

.comment:nth-child(even) .user-review-text {
    color: #000;
    font-weight: 400;
    margin-bottom: 12px;
}

.user-review-text {
    margin-bottom: 5px;
}

.comment:nth-child(odd) .user-name {
    font-weight: 700;
}

.time-count {
    color: #8F9396;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 133%;
    margin-right: 5px;
}

.reply-btn {
    color: #54585C;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 133%;
    background: transparent;
    border: none;
}

.comment:nth-child(even) .reply-btn {
    color: #4267B2;
    font-weight: 400;
}

.comment:nth-child(even) .time-count {
    margin: 0;
}

.comment:nth-child(even) .text-like-btn::after {
    display: inline-block;
    content: '·';
    margin-left: 6px;
    color: #000;
}

.comment:nth-child(even) .reply-btn::after {
    display: inline-block;
    content: '·';
    margin-left: 6px;
    color: #000;
}

.like-button {
    width: 13px;
    height: 13px;
    margin-left: 10px;
    background: transparent;
    border: none;
}

.text-like-btn {
    color: #4267B2;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: transparent;
    border: none;
}

/* test link parent  */

.comments-section-test-link-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;
    background: var(--yellow-color);
    border-radius: 20px;
}

.comments-section-test-link-parent h3 {
    margin-right: 92px;
    font-size: 26px;
}

/* doctors opinion */
.doctors-opinion-section {
    padding: 52px 0;
}

.doctors-opinion-section .container>div {
    background: var(--white-color);
    padding: 60px 69px 104px;
    border-radius: 20px;
}

.doctors-opinion-section-title {
    max-width: 730px;
    margin-bottom: 36px;
}

.doctors-opinion-section-list {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
}

.doctors-opinion-sectionlist-child {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.doctors-opinion-sectionlist-child:nth-child(odd) .doctor-image {
    width: 410px;
    height: 502px;
    grid-column: 1/5;
    border-radius: 10px;
}

.doctors-opinion-sectionlist-child:nth-child(even) .doctor-image {
    width: 410px;
    height: 803px;
    grid-column: 9/13;
    border-radius: 10px;
}

.doctor-opinion-wrapper {
    position: relative;
    padding: 25px 47px 82px 37px;
    border-radius: 20px;
    border: 1px solid #673F1B;
}

.doctors-opinion-sectionlist-child:nth-child(odd) .doctor-opinion-wrapper {
    grid-column: 5/13;
}

.doctors-opinion-sectionlist-child:nth-child(even) .doctor-opinion-wrapper {
    padding-bottom: 29px;
    grid-column: 1/9;
}

.doctor-name {
    font-size: 32px;
}

.doctor-experience {
    display: inline-block;
    font-size: 20px;
    color: #54585C;
    margin-bottom: 20px;
}

.doctors-opinion-text {
    font-size: 20px;
    line-height: 34px;
}

.doctors-opinion-sectionlist-child:nth-child(odd) .doctors-opinion-text {
    max-width: 754px;
}

.doctors-opinion-sectionlist-child:nth-child(odd) .doctor-signature-img {
    position: absolute;
    bottom: -15px;
    right: 53px;
}

.doctors-opinion-sectionlist-child:nth-child(even) .doctor-signature-img {
    position: absolute;
    bottom: -80px;
    right: -15px;
}

/* last section  */

.homepage-last-section {
    padding: 56px 0 29px;
}

.homepage-last-section .container>div {
    position: relative;
    padding: 68px 68px 82px 620px;
}

.homepage-last-section-bg-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #ffffff40;
    backdrop-filter: blur(25px);
    z-index: 0;
    top: 0;
    left: 0;
}

.gummy-bear-fit-bottles {
    position: absolute;
    z-index: 1;
    left: 13px;
    top: -53px;
}

.homepage-last-section-main-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    text-align: center;
}

.homepage-last-section-title {
    color: var(--white-color);
    margin-bottom: 40px;
}

.homepage-last-section-description {
    font-family: 'inter', sans-serif;
    margin-bottom: 86px;
}

.homepage-last-section-main-content .hero-test-link-wrapper>p {
    max-width: 357px;
    font-size: 22px;
    font-weight: 700;
}

.green-gummy-bears-group-img {
    position: absolute;
    width: 658px;
    height: 886px;
    top: -102px;
    left: 13px;
    z-index: -1;
}

/* footer  */
.footer {
    padding: 29px 0 73px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1290px;
}

.footer .container p,
.links-wrapper a {
    color: #000;
}